body{
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    font-size: 18px;
}
.copyright_footer{
    bottom: 0;
    position: fixed;
    background-color: aliceblue;
    width: 100%;
    text-align: center;
    line-height: 3;
    color: maroon;
    font-family: cursive;
    box-shadow: 10px 10px 10px gray;
}
canvas{
    border: 5px outset maroon;
    margin-top: 230px;
    box-shadow: 10px 10px 10px gray;
}
#objectInput{
    width: 1000px;
}